ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: selfsigned-cert-manager
  hosts:
    - plantuml.{{ .Values.hostnameSuffix }}
  tls:
  - hosts:
    - plantuml.{{ .Values.hostnameSuffix }}
    secretName: plantuml.local-tls
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi