ingress:
  enabled: true
  host: backstage.{{ .Values.hostnameSuffix }}
  annotations:
    cert-manager.io/cluster-issuer: selfsigned-cert-manager
  tls:
    enabled: true
    secretName: backstage.local-tls

postgresql:
  enabled: true
  auth:
    password: "backstage.2023"
global:
  postgresql:
    auth:
      postgresPassword: "QbhcNP4JmF"

      